<!-- <mat-card>Dash Board</mat-card>
  -->
<div class="row mt-5 dash-cont">
    <div class="col-4 offset-4">
        <mat-card class="example-card">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Welcome to Park2Go</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/park-list" type="button" class="btn btn-primary">Park Listing</button>
                <button routerLink="/login" type="button" class="btn btn-primary">Login</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>