><div class="example-container">
   
    <mat-form-field>
    <input matInput placeholder="Company">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Details"></textarea>
    </mat-form-field>
    <mat-form-field>
    <input matInput placeholder="Capacity">
    </mat-form-field>
    <mat-form-field>
    <input matInput placeholder="Location">
    </mat-form-field>
    <mat-form-field>
    <input matInput placeholder="Address">
    </mat-form-field>


    <section class="example-section">
            <h2 class="example-h2">Type</h2>
        <mat-checkbox class="example-margin" [(ngModel)]="wheel2">2 wheel</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="wheel4">4 wheel</mat-checkbox>
    </section>
    <section class="example-section">
            <button mat-flat-button color="primary">Save</button>
    </section>

</div>
